.text {
    border-right: 1px solid #fff;
    text-align: justify;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 1em;
    box-shadow: 1px 1px 5px #777;
}

@media (max-width: 768px) {
    .text {
        border: none;
    }
    .image img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 425px) {
    .image img {
        max-width: 250px;
        max-height: 250px;
    }
}