.card {
    text-align: center;
    padding: 3em;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 1em 2em;
    transition: transform .3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 75px;
}

@media (max-width: 375px) {
    .logo {
        min-width: 100px;
        min-height: 100px;
    }
    .logo img {
        width: 50px;
    }
    .percentage {
        min-width: 175px;
        height: 80px;
    }
}