.card {
    padding: 1em;
    display: inline-block;
    max-width: 300px;
    margin: 1.5em;
    transition: transform .5s ease;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px #222;
}

.card p {
    font-size: 15px;
}

.card p span{
    font-weight: bold;
    color: #FFF;
}